# This is a header
## This is a sub-header
### This is a sub-sub-header

I can start writing text here.
You can have *italics* and **bold** text.
You also have ~~crossthrough~~.

* You can have
* bulleted lists
* such as this one.

1. You can also have
2. enumerated lists
3. such as this one.

| You can | create a table |
|---------|----------------|
| Aachen  | Germany        |
| Paris   | France         |
| Madrid  | Spain          |

I have a multi-variate function $f: \mathbb{R}^n \to \mathbb{R}$. This was an in-line formula.
This is an equation:

$$ x_{t+1} = x_t - \alpha \nabla f(x_t)$$

You can add a link [like this](https://rwth-aachen.de/).

![](alberto.jpg)

In [81]:
4987 / 43

115.97674418604652

In [82]:
my_list = [3, "hello", True, 5.6]

In [83]:
len(my_list)

4

In [84]:
my_list[0]

3

In [85]:
my_list[-1]

5.6

In [86]:
my_list[-5]

IndexError: list index out of range

In [ ]:
my_list[4]

IndexError: list index out of range

In [ ]:
my_list.append(5)

In [ ]:
my_list.append(10)

In [ ]:
my_list

[3, 'hello', True, 5.6, 5, 10]

In [ ]:
my_list[1:-1]

['hello', True, 5.6, 5]

In [ ]:
my_list[1:3]

['hello', True]

In [ ]:
my_list[2:]

[True, 5.6, 5, 10]

In [ ]:
my_list[:4]

[3, 'hello', True, 5.6]

In [ ]:
for element in my_list:
    print(element)

3
hello
True
5.6
5
10

In [ ]:
for index, element in enumerate(my_list):
    print(index, element)

0 3
1 hello
2 True
3 5.6
4 5
5 10

In [ ]:
for index, element in enumerate(my_list):
    print(f"The element at index {index} is {element}")

The element at index 0 is 3
The element at index 1 is hello
The element at index 2 is True
The element at index 3 is 5.6
The element at index 4 is 5
The element at index 5 is 10

In [ ]:
for i in range(20, 30+1):
    print(i)

20
21
22
23
24
25
26
27
28
29
30

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 96, 5):
    print(i)

1
6
11
16
21
26
31
36
41
46
51
56
61
66
71
76
81
86
91

In [ ]:
names = ['Alice', 'Bob', 'Charles']
ages = [34, 42, 18]

In [ ]:
for i in range(len(names)):
    print(names[i], ages[i])

Alice 34
Bob 42
Charles 18

In [ ]:
names.append('Dianne')

In [ ]:
for i in range(len(names)):
    print(names[i], ages[i])

Alice 34
Bob 42
Charles 18

IndexError: list index out of range

In [ ]:
for name, age in zip(names, ages):
    print(name, age)

Alice 34
Bob 42
Charles 18

In [ ]:
age_of = {
    'Alice': 24,
    'Bob': 42,
    'Charles': 18,
    'Dianne Elaine': 30
}

In [ ]:
age_of['Alice']

24

In [ ]:
age_of = dict(Alice=24, Bob=42, Charles=18)

In [ ]:
age_of

{'Alice': 24, 'Bob': 42, 'Charles': 18}

In [ ]:
for name in age_of.keys():
    print(name, age_of[name])

Alice 24
Bob 42
Charles 18

In [ ]:
for name in age_of:
    print(name, age_of[name])

Alice 24
Bob 42
Charles 18

In [ ]:
for name, age in age_of.items():
    print(name, age)

Alice 24
Bob 42
Charles 18

In [ ]:
nums = [4, 5, 32, 15, 6]

You have a set $S$ and you want a set $T$ with the double of each number is $S$, you can write:
$$ T = \{ 2 x \; \forall x \in S \}$$

In [ ]:
doubles = [2 * i for i in nums]

In [ ]:
doubles

[8, 10, 64, 30, 12]

In [ ]:
doubles_dict = {i: i * 2 for i in nums}

In [ ]:
doubles_dict

{4: 8, 5: 10, 32: 64, 15: 30, 6: 12}

In [ ]:
nums

[4, 5, 32, 15, 6]

In [ ]:
evens = [i for i in nums if i % 2 == 0]

In [ ]:
evens

[4, 32, 6]

$$T = \{ 2x \; \forall x \in S \; : \; x \text{ mod } 2 = 0 \}$$

In [ ]:
double_of_evens = [2 * i for i in nums if i % 2 == 0]

In [ ]:
double_of_evens

[8, 64, 12]

Families:

* Parents: Alice, Bob; Children: Charles, Dianne
* Parents: Elaine, Fred; Child: Gus
* Parents: Shawn, Zoe: Children: Marcel, Noah

In [ ]:
families = {
    ['Alice', 'Bob']: ['Charles', 'Dianne'],
    ['Elaine', 'Fred']: ['Gus'],
    ['Shawn', 'Zoe']: ['Marcel', 'Noah']
}

TypeError: unhashable type: 'list'

In [ ]:
t = ('Alice', 'Bob')
l = ['Alice', 'Bob']

In [ ]:
t[0]

'Alice'

In [ ]:
l[0]

'Alice'

In [ ]:
l[0] = 'Arianne'

In [ ]:
l

['Arianne', 'Bob']

In [ ]:
t[0] = 'Arianne'

TypeError: 'tuple' object does not support item assignment

In [ ]:
families = {
    ('Alice', 'Bob'): ['Charles', 'Dianne'],
    ('Elaine', 'Fred'): ['Gus'],
    ('Shawn', 'Zoe'): ['Marcel', 'Noah']
}

In [ ]:
families

{('Alice', 'Bob'): ['Charles', 'Dianne'],
 ('Elaine', 'Fred'): ['Gus'],
 ('Shawn', 'Zoe'): ['Marcel', 'Noah']}

### Exercise

In [ ]:
exe = [
    ['Alice', 23, 'London'],
    ['Bob', 35, 'Nottingham'],
    ['Charles', 41, 'Manchester'],
    ['Dianne', 18, 'Leeds']
]

In [ ]:
exe_names = ['Alice', 'Bob', 'Charles', 'Dianne']
exe_ages = [23, 35, 41, 18]
exe_cities = ['London', 'Nottingham', 'Manchester', 'Leeds']

### Solution type 1

In [90]:
exe_names = list()
exe_ages = list()
exe_cities = list()

for idx in range(len(exe)):
    exe_names.append(exe[idx][0])
    exe_ages.append(exe[idx][1])
    exe_cities.append(exe[idx][2])

In [91]:
exe_names, exe_ages, exe_cities

(['Alice', 'Bob', 'Charles', 'Dianne'],
 [23, 35, 41, 18],
 ['London', 'Nottingham', 'Manchester', 'Leeds'])

### Solution type 2

In [92]:
exe_names = [item[0] for item in exe]
exe_ages = [item[1] for item in exe]
exe_cities = [item[2] for item in exe]

In [93]:
exe_names, exe_ages, exe_cities

(['Alice', 'Bob', 'Charles', 'Dianne'],
 [23, 35, 41, 18],
 ['London', 'Nottingham', 'Manchester', 'Leeds'])

### Pythonic solution

In [94]:
exe_names, exe_ages, exe_cities = zip(*exe)

In [95]:
exe_names, exe_ages, exe_cities

(('Alice', 'Bob', 'Charles', 'Dianne'),
 (23, 35, 41, 18),
 ('London', 'Nottingham', 'Manchester', 'Leeds'))

In [96]:
# I really want lists:
exe_names, exe_ages, exe_cities = [list(ret) for ret in zip(*exe)]

In [97]:
exe_names, exe_ages, exe_cities

(['Alice', 'Bob', 'Charles', 'Dianne'],
 [23, 35, 41, 18],
 ['London', 'Nottingham', 'Manchester', 'Leeds'])

In [98]:
from typing import List, Tuple, Iterable

In [99]:
def f(x):
    return x + 1

In [100]:
f(5)

6

In [101]:
f('hello')

TypeError: can only concatenate str (not "int") to str

In [102]:
def f(x: int) -> int:
    return x + 1

In [104]:
def concat(l: List) -> str:
    return ', '.join(l)

In [105]:
concat(['hello', 'world'])

'hello, world'

In [107]:
def concat(l: List[str]) -> str:
    return ', '.join(l)

In [108]:
concat(('hello', 'world'))

'hello, world'

In [109]:
def concat(l: Iterable[str]) -> str:
    return ', '.join(l)

In [115]:
exe = {
    ('Alice', 23, 'London'),
    ('Bob', 35, 'Nottingham'),
    ('Charles', 41, 'Manchester'),
    ('Dianne', 18, 'Leeds')
}

In [116]:
exe

{('Alice', 23, 'London'),
 ('Bob', 35, 'Nottingham'),
 ('Charles', 41, 'Manchester'),
 ('Dianne', 18, 'Leeds')}

In [117]:
type(exe)

set

In [122]:
exe_names, exe_ages, exe_cities = zip(*exe)

In [123]:
exe_names, exe_ages, exe_cities

(('Charles', 'Alice', 'Bob', 'Dianne'),
 (41, 23, 35, 18),
 ('Manchester', 'London', 'Nottingham', 'Leeds'))

In [118]:
l = [1, 2, 2, 2]

In [119]:
l

[1, 2, 2, 2]

In [120]:
s = {1, 2, 2, 2}

In [121]:
s

{1, 2}

In [124]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables) --> A zip object yielding tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.