In [58]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [55]:
df = pd.read_csv('news_resource.csv')
df.head()

   Unnamed: 0  tv  radio  online
0           0   5     93      46
1           1  10     77      66
2           2  39     68      37
3           3  60      5      71
4           4  93     14      84

# Train | Test Split Procedure
0. Clean and adjust data as necessary for X and Y
1. Split data in Train/Validation/Test for both X and y
2. Fit/Train scaler on Training X Data
3. Scale X Eval Data
4. Create Model
5. Fit/Train Model on X Train Data
6. Evaluate Model on X Evaluation Data (by creating predictions and comparing to Y_eval)
7. Adjust Parameters as Necessary and repeat steps 5 and 6
8. Get final metrics on Test set(not allowed to go backand adjust after this!)

In [59]:
X = df.drop('tv', axis=1)
y = df['tv']
X, y

(    Unnamed: 0  radio  online
 0            0     93      46
 1            1     77      66
 2            2     68      37
 3            3      5      71
 4            4     14      84
 5            5     16      78
 6            6     99      28
 7            7     87       7
 8            8     64      20
 9            9     19      47
 10          10     78      47
 11          11     20      33
 12          12     17      29
 13          13     51      81
 14          14     65      69
 15          15     36      61
 16          16     67       8
 17          17     46      34
 18          18     28      24
 19          19     95      36,
 0      5
 1     10
 2     39
 3     60
 4     93
 5     29
 6     86
 7     83
 8     78
 9     87
 10    35
 11    94
 12    88
 13    30
 14    76
 15    38
 16    30
 17    63
 18    66
 19    71
 Name: tv, dtype: int64)

In [68]:
from sklearn.model_selection import train_test_split
# test_size = 1-train_size
X_train, X_other, y_train, y_other = train_test_split(X, y, test_size = 0.2, random_state=101)

#test_size = 0.5 (50% of 30 % other --> test = 15% of all data)
X_eval, X_test, y_eval, y_test = train_test_split(X_other, y_other, test_size=0.1, random_state=101 )

In [64]:
len(X)

20

In [65]:
len(X_train)

16

In [67]:
len(X_other)

4

In [69]:
len(X_eval)

3

In [70]:
len(X_test)

1

In [71]:
#.fit() can simply calculate the necessary statistics (Xmin, Xmax, mean, standard deviation)
#.transform() actually scales data and returns the rew scaled version of data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train) 
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)
X_eval = scaler.transform(X_eval)

In [72]:
from sklearn.linear_model import Ridge
model_one = Ridge(alpha =100)
model_one.fit(X_train, y_train)
y_eval_pred = model_one.predict(X_eval)

In [73]:

from sklearn.metrics import mean_squared_error
mean_squared_error(y_eval, y_eval_pred)

947.1392895006094

In [74]:
model_two = Ridge(alpha =1)
model_two.fit(X_train, y_train)
y_pred_two = model_two.predict(X_eval)
mean_squared_error(y_eval, y_pred_two)

571.3637874120882

In [75]:
# go back to the test mode
y_final_test_pred = model_two.predict(X_test)
mean_squared_error(y_test, y_final_test_pred)

287.939071382507